MiniRadio/bin/Debug/Bass.Net.xml
MiniRadio/bin/Debug/MiniRadio.exe
MiniRadio/bin/Debug/MiniRadio.exe.config
MiniRadio/bin/Debug/MiniRadio.pdb
MiniRadio/bin/Release/MiniRadio.exe
MiniRadio/bin/Release/MiniRadio.exe.config
MiniRadio/bin/Release/Bass.Net.xml
MiniRadio/obj/
mysetup.exe


