<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MiniRadio.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<MiniRadio.Properties.Settings1>
			<setting name="activeTab" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="form_location" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="height" serializeAs="String">
				<value>420</value>
			</setting>
			<setting name="volume" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="width" serializeAs="String">
				<value>240</value>
			</setting>
		</MiniRadio.Properties.Settings1>
	</userSettings>
</configuration>